.contacts-list{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.contacts-i{
  display: flex;
  align-items: center;
}
.icon{
  font-size: 35px;
  height: 35px;
  width: 35px;
}