<app-page [pageTitle]="'resume'">
    <app-resume-header
            appPageBlock
            [isEnabledEditMode]="isEnabledEditMode"
            [resume]="resume">
    </app-resume-header>
    <app-resume-education
            appPageBlock
            [isEnabledEditMode]="isEnabledEditMode"
            [resume]="resume">
    </app-resume-education>
    <app-resume-work-experiance
            appPageBlock
            [isEnabledEditMode]="isEnabledEditMode"
            [resume]="resume">
    </app-resume-work-experiance>
</app-page>