<h3 class="page-block-title" appPageBlockTitle>
    <md-icon class="icon" [color]="'primary'">archive</md-icon>
    My works
</h3>
<button md-icon-button
        *ngIf="isEnabledEditMode"
        mdTooltip="Update"
        (click)="updateUserReposList()"
        [disabled]="isExamleMode"
        class="refresh-btn">
    <md-icon [color]="'primary'">
        refresh
    </md-icon>
</button>

<ul class="repo-list" *ngIf="initialReposList">
    <li class="repo-item" *ngFor="let repo of initialReposList; let i = index">
        <app-portfolio-works-item
                (hidden)="hide()"
                [isEnabledEditMode]="isEnabledEditMode"
                (repoItemChange)="onChange($event, i)"
                [repoItem]="repo">
        </app-portfolio-works-item>
    </li>
</ul>
<p *ngIf="!initialReposList">Now, I haven`t work examples</p>
