
.page-block-description{
  padding-left: 15px;
  line-height: 1.5;
  border-left: 3px solid #673ab7;
}

.resume-upload-btns{
  margin-top: 20px;
  text-align: center;
}
.checkbox{
  text-align: center;
}
.progress{
  margin-top: 20px;
}
md-input-container{
  width: 100%;
}