.page-block-title{
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}
.about-header-title{
  text-transform: uppercase;
}
.page-block-description{
  padding-left: 15px;
  line-height: 1.5;
  border-left: 3px solid #673ab7;
}

.about-header-form{
  width: 100%;
}
md-input-container{
  width: 100%;
}