@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .content{
    width: 70%;
    margin: 105px 0 0 30%;
    padding: 0 25px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
