.timeline-box-wrapper{
  position: relative;
  padding: 15px 20px;
  border: 2px solid #3f51b5;
}
.timeline-box-header + .timeline-box-desc{
  margin-top: 15px;
}
.timeline-box-title + .timeline-box-years {
  margin-top: 5px;
}
md-input-container{
  width: 100%;
}
.add-btn{
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  outline: none;
  color: darkgreen;
  cursor: pointer;
}
.add-btn[disabled]{
  color: #808080;
}